/*ESTILOS GLOBALES*/
html {
    scroll-behavior: auto !important;/*deshabilita el scroll de bootstrap cuando se clickea una opcion del menu*/    
}

body {
    background-color: black !important;
}

/*ESTILOS DEL PIE DE PAGINA*/
footer  a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}